# discovery-server
# APP
DISCOVERY_SERVER_NAME=discovery-server
DISCOVERY_PORT=8761
SPRING_SECURITY_USER_NAME=eureka
SPRING_SECURITY_USER_PASSWORD=<password>
#DISCOVERY_URL=http://localhost:8761/eureka
#DISCOVERY_AUTH_URL=http://eureka:<password>@localhost:8761/eureka
DISCOVERY_URL=http://discovery-server:8761/eureka
DISCOVERY_AUTH_URL=http://eureka:<password>@discovery-server:8761/eureka

# Keycloak
# APP
KEYCLOAK_VERSION=26.3.3
KEYCLOAK_PORT=8181
DB_VENDOR=POSTGRES
DB_ADDR=db-keyloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KC_HTTP_PORT=8181
#KEYCLOAK_ISSUER_URI=http://localhost:8181/realms/microservices-realm
#KEYCLOAK_JWT_URI=http://localhost:8181/realms/microservices-realm/protocol/openid-connect/certs
KEYCLOAK_ISSUER_URI=http://keycloak:8181/realms/microservices-realm
KEYCLOAK_JWT_URI=http://keycloak:8181/realms/microservices-realm/protocol/openid-connect/certs
KEYCLOAK_CLIENT_SECRET=UXi7lVHMgAggNHijux9q7RINhE4VcKrr
# DataBase
KEYCLOAK_POSTGRES_VERSION=12-alpine
#KEYCLOAK_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-keyloak:5432/db_keyloak
KEYCLOAK_POSTGRES_DB=db_keyloak

# api-gateway
# APP
GATEWAY_SERVICE_NAME=api-gateway
GATEWAY_PORT=8080

# inventory-service
# APP
INVENTORY_SERVICE_NAME=inventory-service
PORT=0
# DataBase
POSTGRES_VERSION=16-alpine
POSTGRES_PORT=5432
INVENTORY_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-inventory:5432/ms_inventory
POSTGRES_DB=ms_inventory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# notification-service
# APP
NOTIFICATION_SERVICE_NAME=notification-service

# orders-service
# APP
#ORDERS_PORT=800x
ORDERS_SERVICE_NAME=orders-service
# DataBase
MYSQL_VERSION=8
MYSQL_PORT=3306
ORDERS_SPRING_DATASOURCE_JDBC_URL=jdbc:mysql://db-orders:3306/ms_orders?useSSL=false&allowPublicKeyRetrieval=true
MYSQL_DATABASE=ms_orders
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# products-service
# APP
PRODUCTS_SERVICE_NAME=products-service
#PRODUCTS_PORT=800x
PRODUCTS_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-products:5432/ms_products
# DataBase
PRODUCTS_POSTGRES_VERSION=14-alpine
PRODUCTS_POSTGRES_DB=ms_products
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=

# KAFKA
KAFKA_VERSION=7.6.0
#KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_NODE_ID=1
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_LOG_DIRS=/tmp/kraft-combined-logs
# Opcional: topic auto-creation
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
# Old
#KAFKA_INTERNAL_PORT=29092
#KAFKA_BROKER_ID=1
#KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
#KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
#KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
#KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
#KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
#KAFKA_LOG_DIRS=/var/lib/kafka/data

# Zookeeper
#ZOOKEEPER_VERSION=7.8.0
#ZOOKEEPER_CLIENT_PORT=2181
#ZOOKEEPER_TICK_TIME=2000
#ZOOKEEPER_DATA_DIR=/var/lib/zookeeper/data
#ZOOKEEPER_DATA_LOG_DIR=/var/lib/zookeeper/log

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# OpenTelemetry (OTel) + Jaeger/Tempo
# APP
OTEL_GRCP_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_RESOURCE_ATTRIBUTES=service.name=products-service
#OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4317

# Jaeger
JAEGER_UI_PORT=16686
JAEGER_COL_PORT=14250
#JAEGER_UI_URL=http://localhost:16686 # http://<minikubeip>:16686
#JAEGER_ENDPOINT=http://jaeger:14250