# api-gateway
# APP
GATEWAY_PORT=8080

# discovery-server
# APP
DISCOVERY_PORT=8761
SPRING_SECURITY_USER_NAME=eureka
SPRING_SECURITY_USER_PASSWORD=
DISCOVERY_URL=http://discovery-server:8761/eureka
DISCOVERY_AUTH_URL=http://eureka:<password>@eureka-server:8761/eureka

# inventory-service
# APP
PORT=0
# DataBase
POSTGRES_VERSION=16-alpine
POSTGRES_PORT=5432
INVENTORY_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-inventory:5432/ms_inventory
POSTGRES_DB=ms_inventory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# notification-service
# APP

# Zookeeper
ZOOKEEPER_VERSION=7.4.0
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# KAFKA
KAFKA_VERSION=7.4.0
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1

# orders-service
# APP
#ORDERS_PORT=800x
# DataBase
MYSQL_VERSION=8
MYSQL_PORT=3306
ORDERS_SPRING_DATASOURCE_JDBC_URL=jdbc:mysql://db-orders:3306/ms_orders
MYSQL_DATABASE=ms_orders
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# products-service
# APP
#PRODUCTS_PORT=800x
PRODUCTS_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-products:5433/ms_products
# DataBase
PRODUCTS_POSTGRES_VERSION=14-alpine
PROUCTS_POSTGRES_PORT=5433
PRODUCTS_POSTGRES_DB=ms_products
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=

# Keycloak
# APP
KEYCLOACK_VERSION=21.0.2
KEYCLOAK_PORT=8181
DB_VENDOR=POSTGRES
DB_ADDR=db-keyloak
KEYCLOACK_ADMIN=admin
KEYCLOACK_ADMIN_PASSWORD=
KC_HTTP_PORT=8181
KEYCLOAK_ISSUER_URI=http://keycloak:8181/realms/microservices-realm
KEYCLOAK_JWT_URI=http://keycloak:8181/realms/microservices-realm/protocol/openid-connect/certs
KEYCLOAK_CLIENT_SECRET=
# DataBase
KEYCLOAK_POSTGRES_VERSION=12-alpine
KEYCLOAK_POSTGRES_PORT=5434
KEYCLOACK_SPRING_DATASOURCE_JDBC_URL=jdbc:postgresql://db-keyloak:5434/db_keyloak
KEYCLOAK_POSTGRES_DB=db_keyloak

# OpenTelemetry (OTel) + Jaeger/Tempo
# APP
OTEL_PORT=4317
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4317
# OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
#JAEGER_UI_URL=http://localhost:16686
#JAEGER_ENDPOINT=http://jaeger:14250

# DataBase